<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test name="Add_Cart">
        <classes>
            <class name="testcases.Add_Cart">
                <methods>
                    <include name="velidateProductDeatialsPage"/>
                    <include name="verifyTheProductIsAdded"/>
                    <include name="verifyProductAvailability"/>
                    <include name="verifyTheCartDeatials"/>
                    <include name="verifyTheProductRemoveFromCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>